:root {
  --color-primary: #7700ffb6;
  --color-primary-light: #7700ff80;
  --color-light: #faf9f9;
  --color-dark: #141414; }

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #eaeaea;
  font: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace; }

ul, li {
  list-style-type: none;
  color: var(--color-light);
  border: 1px solid var(--color-primary); }

ul, #sTree2 {
  padding: 0;
  margin: 0;
  background-color: var(--color-dark); }

#sTree2 li,
ul#s-l-base li {
  padding-left: 50px;
  margin: 5px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-dark); }

li div {
  padding: 7px;
  background-color: var(--color-primary); }

.del_btn {
  float: right;
  background-color: red;
  border: none;
  color: var(--color-light);
  padding: 7px;
  margin-top: -4px;
  font-size: 16px;
  cursor: pointer; }

.input {
  padding: 10px;
  width: 350px;
  margin: 0 auto; }
  .input__search {
    padding: 10px;
    border-radius: 100px; }
    .input__search:focus {
      outline: none;
      background-color: var(--color-light); }
  .input__button {
    background-color: var(--color-primary);
    border: none;
    border-radius: 100px;
    color: var(--color-light);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer; }
    .input__button:hover {
      background-color: var(--color-primary-light); }

.fa-minus:before {
  content: "\f068";
  cursor: pointer; }

.fa-plus:before {
  content: "\f067";
  cursor: pointer; }

.c1 {
  color: red; }

.c2 {
  color: green; }
